<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add-bench</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img *ngIf="!fileUrl" src="assets/no-image.jpeg"/>
  <img *ngIf="fileUrl" src="{{fileUrl}}"/> -->
    <div *ngIf="pictureData">
      <img  src="data:image/jpeg;base64,{{ pictureData }}" />
      <ion-chip color="sucess" (click)='takePicture()'>
        <ion-icon name="close-circle" color="primary"></ion-icon>
        <ion-label>Changer la photo</ion-label>
      </ion-chip>
      </div>

    <div *ngIf="!pictureData">
    <ion-chip color="secondary" (click)='takePicture()'>
      <ion-icon name="add-circle" color="primary"></ion-icon>
      <ion-label>Prendre une photo</ion-label>
    </ion-chip>
    </div>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre de places max</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-list-header>Materials</ion-list-header>
  <ion-item>
    <p>
      <ion-chip class="materials" (click)="selected()" outline color="secondary">
        <ion-label>Bois</ion-label>
      </ion-chip>
      <ion-chip class="materials" (click)="selected()" outline color="secondary">
        <ion-label>Acier</ion-label>
      </ion-chip>
      <ion-chip class="materials" (click)="selected()" outline color="secondary">
        <ion-label>Pierre</ion-label>
      </ion-chip>
      <ion-chip class="materials" (click)="selected()" outline color="secondary">
        <ion-label>Plastique</ion-label>
      </ion-chip>
      <ion-chip class="materials" (click)="selected()" outline color="secondary">
        <ion-label>Marbre</ion-label>      
      </ion-chip>
  </p>
  </ion-item>
  <ion-list-header>Materials</ion-list-header>
  <ion-item>
    <ionic4-star-rating #rating activeIcon="md-star" defaultIcon="md-star-outline" activeColor="#CAD802"
      defaultColor="#CAD802" readonly="false" rating="0" fontSize="32px" (ratingChanged)="logRatingChange($event)">
    </ionic4-star-rating>
  </ion-item>
  <ion-list-header>Détails</ion-list-header>
  <ion-item>
    <ion-label>Appuie-dos</ion-label>
    <ion-toggle slot="start" name="backrest" color="success" checked></ion-toggle>
    </ion-item>
    <div style="margin-left: 15px; margin-right: 15px;" class="leaflet-map" leaflet [leafletOptions]="mapOptions" (leafletMapReady)="onMapReady($event)">
  </div>
  <ion-button (click)="uploadBench()">
    Publier
  </ion-button>

</ion-content>