<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Bench</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-card *ngIf="bench">
    <img src={{bench.image}} />
    <ion-card-header>
      <ion-card-subtitle>{{this.benchAddress}}</ion-card-subtitle>
      <ion-card-title>{{bench.description}}</ion-card-title>
    </ion-card-header>
    <ion-icon (click)="scoreUp()" class="score-arrow" name="arrow-up"></ion-icon>
    <ion-label>{{bench.score}}</ion-label>
    <ion-icon (click)="scoreDown()" class="score-arrow" name="arrow-down"></ion-icon>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>Matériel</div>
            <ion-icon size="large" name="cube"></ion-icon>
            <div style="color: #CAD802">{{bench.material}}</div>
          </ion-col>
          <ion-col>
            <div>Confort</div>
            <ion-icon size="large" name="bed"></ion-icon>
            <div style="color: #CAD802">{{bench.ergonomy}}/5</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div>Nombre de places</div>
            <ion-icon size="large" name="people"></ion-icon>
            <div style="color: #CAD802">{{bench.seats}}</div>
          </ion-col>
          <ion-col>
            <div>Appuie-dos</div>
            <ion-icon size="large" name="glasses"></ion-icon><br />
            <div *ngIf='bench.backrest; else elseBlock' style="color: #CAD802">Oui, calé</div>
            <ng-template style="color: #CAD802" #elseBlock>Non</ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <input type="text" name="wamp-msg" id="wamp-msg" [(ngModel)]="eventContent">
<button (click)="sendEvent()">Send WAMP Event</button>
</ion-content>