<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon name='search'></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name='log-out'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Informations générales</h2>
  <ion-item>
    <ion-label position="floating">ID</ion-label>
    <hr>
    <h6> {{userId}} </h6>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nom d'utilisateur</ion-label>
    <hr>
   <h6> {{username}}</h6>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <hr>
    <h6>*******</h6>
  </ion-item>
</ion-content>

