<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon name='search'></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name='log-out'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Informations générales</h2>
  <ion-item>
    <ion-label position="floating">Nom d'utilisateur</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <h2>Bancs ajoutées</h2>
  <a href="/profile">
    <ion-card>
      <img src="../../assets/img/logo-sedes.png"/>
      <ion-card-header>
        <ion-card-subtitle>COORDONEEE</ion-card-subtitle>
        <ion-card-title>TITRE</ion-card-title>
      </ion-card-header>
    </ion-card>
  </a>
  <h2>Bancs ajoutées</h2>
  <a href="/profile">
    <ion-card>
      <img src="../../assets/img/logo-sedes.png"/>
      <ion-card-header>
        <ion-card-subtitle>COORDONEEE</ion-card-subtitle>
        <ion-card-title>TITRE</ion-card-title>
      </ion-card-header>
    </ion-card>
  </a>


</ion-content>

