<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Map-Bench</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon name='search'></ion-icon>
      </ion-button>
      <ion-button routerLink="/profile">
        <ion-icon name='contact'></ion-icon>
      </ion-button>
      <ion-button (click)="logOut()">
        <ion-icon name='log-out'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="map" 
  leaflet 
  [leafletOptions]="mapOptions"
  [(leafletCenter)]="mapOptions.center" 
  (leafletMapReady)="onMapReady($event)"
  [leafletLayers]="mapMarkers">
  </div>
</ion-content>

