<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name='log-out'></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- *ngFor="let bench of benches" -->

<ion-content>
    
    <ion-card>
        <ion-card-header>
            <ion-img [src]=""></ion-img>
          <ion-card-title>{{bench.description}}</ion-card-title>
          <ion-item>
              <ion-icon name="pin" slot="start"></ion-icon>
              <ion-label>Yverdon-les-bain</ion-label>
              <ion-button fill="outline" slot="end">View</ion-button>
            </ion-item>
        </ion-card-header>
      </ion-card>
      

</ion-content>